%% -*- mode: erlang -*-

{erl_opts,  [
    {i, "include"}
]}.


{deps, [
     {cowboy, ".*", 
        {git, "git://github.com/extend/cowboy.git", {tag, "1.0.3"}}}
]}.

{relx, [{release, {ping, "0.0.1"},
         [sasl,
          cowboy,
          ping
          ]},
        {sys_config, "sys.config"},
        {vm_args, "vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.
