%% -*- mode: erlang -*-

{erl_opts,  [
    {i, "include"}
]}.


{deps, [
     {jiffy, ".*",
        {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.3"}}},
     {epgsql_pool, ".*", 
        {git, "https://github.com/wgnet/epgsql_pool.git", {tag, "1.0.1"}}},
     {cowboy, ".*", 
        {git, "git://github.com/extend/cowboy.git", {tag, "1.0.3"}}}
]}.


{overrides,
 [{override, jiffy, [
    {plugins, [{pc, "1.2.0"}]},
    {provider_hooks, [
        {post,
            [
            {compile, {pc, compile}},
            {clean, {pc, clean}}
            ]
         }]
     },
     {artifacts, ["priv/jiffy.so"]}
 ]}
]}.

{relx, [{release, {stateless, "0.0.1"},
         [sasl,
          cowboy,
          jiffy,
          herd,
          epgsql_pool,
          stateless
          ]},
        {sys_config, "sys.config"},
        {vm_args, "vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.
